@Model LMS.Model.Employee
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<form action="/Account/Edit/@Model.Employeeid" method="post">
<div class="form-row">
    <div class="form-group col-md-6">
        <label for="EmployeeName">Employee id</label>
        <input type="hidden" name="EmployeeID" value="@Model.Employeeid" />
        <input type="number" class="form-control" id="Employeeid" name="Employeeid" placeholder="Employeeid" value="@Model.Employeeid">
    </div>
    <div class="form-group col-md-6">
        <label for="EmployeeName">Employee Name</label>
        <input type="hidden" name="EmployeeID" value="@Model.EmployeeName" />
        <input type="text" class="form-control" id="EmployeeName" name="EmployeeName" placeholder="Employee Name" value="@Model.EmployeeName">
    </div> <div class="form-group col-md-6">
        <label for="EmployeeName">Email</label>
        <input type="hidden" name="EmployeeID" value="@Model.Email" />
        <input type="Email" class="form-control" id="Email" name="Email" placeholder="Email" value="@Model.Email">
    </div>
    <div class="form-group col-md-6">
        <label for="EmployeeName">Password</label>
        <input type="hidden" name="EmployeeID" value="@Model.Password" />
        <input type="Password" class="form-control" id="Password" name="Password" placeholder="Password" value="@Model.Password">
    </div>
    <div class="form-group col-md-6">
        <label for="Mobile">Mobile</label>
        <input type="number" class="form-control" id="Mobile" name="Mobile" placeholder="Mobile" value="@Model.Mobile">
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        <label for="DateOfPurchase">Special Permission</label>
        <input type="number" class="form-control" id="SpecialPermission" name="DateOfPurchase" placeholder="1 or 0" value="@Model.SpecialPermission">
    </div>
    <div class="form-group col-md-6">
        <label for="EmployeeName">Departmentid</label>
        <input type="number" class="form-control" id="Departmentid" name="Departmentid" placeholder="Departmentid" value="@Model.Departmentid">
    </div>
    <div class="form-group col-md-6">
        <label for="EmployeeName">EmployeeDesignation</label>
        <input type="text" class="form-control" id="EmployeeDesignation" name="EmployeeDesignation" placeholder="EmployeeDesignation" value="@Model.EmployeeDesignation">
    </div>

</div>

<button type="submit" class="btn btn-success">Save</button>
<a class="btn btn-danger" href="/Employees/index">Cancel</a>
</form>


